.first{background-color: rgb(197, 236, 233);
    border-radius: 5px;
    border-color: black;
   height: 700px;

}
.sec{margin-left: 20px;
    
    
}
.third{margin-left: 20px;
    
    
}
.fourth{margin-left: 20px;
    
    
}
.fifth{margin-left: 20px;
    
    
}
.sixth{margin-left: 20px;
    
    
}
.seventh{margin-left: 20px;
    
    
}

.adhar{margin-left: 20px;
}   
.detail{
    text-align: center;
    text-shadow: 2px;
    padding-top: 20px;
   
}
